<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form th:action="@{/logout}" method="POST" >
                    <button type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form action="#" enctype="multipart/form-data" method="POST" id="fileUploadForm">
                            <div class="container">
                                <div class="alert alert-danger" id="fileError" style="display: none"></div>
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-dark" id="uploadButton">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <tr th:each="file: ${files}">
                                    <td>
                                        <a target="_blank"  th:href="'/file/download/' + ${file.fileId}" href="" class="btn btn-success">View</a>
                                        <a  class="btn btn-danger deleteFileBtn" th:data="${file.fileId}">Delete</a>

                                    </td>
                                    <th scope="row"  th:text="${file.filename}"></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" id="addNewNoteBtn" onclick="showNoteModal()">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="note: ${notes}">
                                    <td>
                                        <a  class="btn btn-success noteEditBtn" th:data="${note.noteid}">Edit</a>
                                        <a  class="btn btn-danger noteDeleteBtn" th:data="${note.noteid}" >Delete</a>

                                    </td>
                                    <td scope="row"  th:text="${note.notetitle}"></td>
                                    <td th:text="${note.notedescription}"> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" method="POST">
                                            <div class="alert alert-danger noteErrorsContainer" style="display: none">

                                            </div>
                                            <input type="hidden" name="noteId" id="note-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name= "noteTitle" class="form-control" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="noteDescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary noteSaveBtn" onclick="saveNote()">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right addCredentialNoteBtn" onclick="showCredentialModal()">
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cred: ${credentials}">
                                    <td>
                                        <button type="button" class="btn btn-success credentialEditBtn" th:data="${cred.credentialid}">Edit</button>
                                        <a class="btn btn-danger credentialDeleteBtn" th:data="${cred.credentialid}">Delete</a>
                                    </td>
                                    <td scope="row" th:text="${cred.url}"></td>
                                    <td th:text="${cred.username}"></td>
                                    <td th:text="${cred.password}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" method="POST">
                                            <div class="alert alert-danger credentialErrorsContainer" style="display: none">

                                            </div>
                                            <input type="hidden" name="credentialId" id="credential-id">
                                            <div class="form-group">
                                                <label for="credential-url" class="col-form-label">URL</label>
                                                <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-username" class="col-form-label">Username</label>
                                                <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-password" class="col-form-label">Password</label>
                                                <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                                            </div>
                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary credentialSaveBtn">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script
                src="https://code.jquery.com/jquery-3.6.4.js"
                integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
                crossorigin="anonymous"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }

            $(function(){
                var urlParam = window.location.search.replace('?', '');
                if(urlParam.includes('credentials')) {
                    $('#nav-tab a[href="#nav-credentials"]').tab('show');
                } else if(urlParam.includes('notes')) {
                    $('#nav-tab a[href="#nav-notes"]').tab('show');
                } else {
                    $('#nav-tab a[href="#nav-files"]').tab('show');
                }
            });

            $('#uploadButton').on('click', function() {
                $.ajax({
                    url: 'file/upload',
                    headers: {'X-CSRF-TOKEN': $("meta[name='_csrf']").attr("content")},
                    type: 'POST',
                    data: new FormData($('#fileUploadForm')[0]), // The form with the file inputs.
                    processData: false,
                    contentType: false                    // Using FormData, no need to process data.
                }).done(function(){
                    window.location.href = '/result'
                }).fail(function(error){
                    $('#fileError').html(error.responseText);
                    $('#fileError').show();
                });
            });

            $('.deleteFileBtn').on('click', function(){
                $.get("/file/delete/" + $(this).attr('data') , function(){
                    window.location.href = '/result'
                });
            });

            function cleanNoteModal() {
                $('#note-description').val('');
                $('#note-title').val('');
                $('#note-id').val('');
                $('.noteErrorsContainer').hide();
                $('.noteErrorsContainer').empty();
            }

            function saveNote() {
                var data = {
                    notedescription : $('#note-description').val(),
                    notetitle: $('#note-title').val()
                }

                var noteid = $('#note-id').val()

                if(noteid) {
                    data.noteid = noteid;
                }

                $.ajax({
                    url: '/note/saveOrUpdate',
                    headers: {'X-CSRF-TOKEN': $("meta[name='_csrf']").attr("content")},
                    type: 'POST',
                    data: JSON.stringify(data),
                    processData: false,
                    contentType: 'application/json'
                }).done(function(){
                    window.location.href = '/result'
                }).fail(function(errors){
                    var $errorList = $('<ul/>');

                    for(var index in errors.responseJSON) {
                        $errorList.append($('<li/>').html(errors.responseJSON[index]));
                    }

                    $('.noteErrorsContainer').append($errorList);
                    $('.noteErrorsContainer').show();

                });
            }


            $('#noteModal').on('hidden.bs.modal', function () {
                cleanNoteModal();
            });

            $('.noteDeleteBtn').on('click', function(){
                $.get("/note/delete/" + $(this).attr('data') , function(){
                    window.location.href = '/result'
                });
            });

            $('.noteEditBtn').on('click', function(){
                $.get("/note/find/" + $(this).attr('data') , function(data){
                    showNoteModal(data.noteid, data.notetitle, data.notedescription);
                });
            });

            function cleanCredentialModal() {
                $('#credential-url').val('');
                $('#credential-username').val('');
                $('#credential-password').val('');
                $('.credentialErrorsContainer').hide();
                $('.credentialErrorsContainer').empty();
            }

            $('.credentialSaveBtn').on('click', function (){
                var data = {
                    url : $('#credential-url').val(),
                    username: $('#credential-username').val(),
                    password: $('#credential-password').val(),
                }

                var credentialid = $('#credential-id').val()

                if(credentialid) {
                    data.credentialid = credentialid;
                }

                $.ajax({
                    url: '/credential/saveOrUpdate',
                    headers: {'X-CSRF-TOKEN': $("meta[name='_csrf']").attr("content")},
                    type: 'POST',
                    data: JSON.stringify(data),
                    processData: false,
                    contentType: 'application/json'
                }).done(function(){
                    window.location.href = '/result'
                }).fail(function(errors){
                    var $errorList = $('<ul/>');

                    for(var index in errors.responseJSON) {
                        $errorList.append($('<li/>').html(errors.responseJSON[index]));
                    }

                    $('.credentialErrorsContainer').append($errorList);
                    $('.credentialErrorsContainer').show();

                });
            });

            $('#credentialModal').on('hidden.bs.modal', function () {
                cleanCredentialModal();
            });

            $('.credentialDeleteBtn').on('click', function(){
                $.get("/credential/delete/" + $(this).attr('data') , function(){
                    window.location.href = '/result'
                });
            });

            $('.credentialEditBtn').on('click', function(){
                $.get("/credential/find/" + $(this).attr('data') , function(data){
                    showCredentialModal(data.credentialid, data.url,  data.username,  data.password);
                });
            });

        </script>
    </body>
</html>
